div{
    width: 250px;
    margin:0px auto; ;
    border: 2px solid #000;
    /* border-image: url(./images/green.webp) 11 11 11 11 round; */
}


ul li {
    list-style-type: none;
    display: inline;
    margin: 0px 12px;
}
.header {
   border-bottom: 2px solid #000;
   width: 100%;
   color: red;
   margin-bottom: 20px;
   
 
}
.header h1 {
  display: inline;
  font-size: 14px;
  list-style-type: none;

}
ul li {
    display: inline;
    margin: 0px 8px 0px 0px
}